<form enctype="multipart/form-data" method="post">
  {% csrf_token %}

  
  {% for campo in formAppointment %}
  {% if campo.label == 'Fecha_Cita'%}
  <div class="mb-3">
    <label for="" class="form-label">{{campo.label}}</label>
    <input 
      type="date"
      class="form-control" 
      name="{{campo.name}}"
      id="" 
      aria-describedby="helpId" 
      placeholder="{{campo.label}}"
      value="{{campo.value | default:''}}">
    </div>
  <div class="col-12 help-text">{{campo.errors}}</div>
  {% else %}
    <div class="mb-3">
      <label for="" class="form-label">{{campo.label}}</label>
      <input 
        type="{{campo.field.widget.input_type}}"
        class="form-control" 
        name="{{campo.name}}"
        id="" 
        aria-describedby="helpId" 
        placeholder="{{campo.label}}"
        value="{{campo.value | default:''}}">
      </div>
    <div class="col-12 help-text">{{campo.errors}}</div>
  {% endif %}
  {% endfor %}
  <input name="" id="" class="btn btn-success" type="Submit" value="Enviar">
  <a name="" id="" class="btn btn-danger" href="{% url 'readAppointment' %}" role="button">Cancelar</a>
  {% comment %} <div class="mb-3">
    <label for="" class="form-label">id</label>
    <input type="number"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="" required>
    <small id="helpId" class="form-text text-muted">Help text</small>
  </div> 
  {% comment %} <div class="mb-3">
    <label for="" class="form-label">Fecha de la Cita</label>
    <input type="date"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="" required>
    <small id="helpId" class="form-text text-muted">Help text</small>
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Id de usuario</label>
    <input type="number"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="" required>
    <small id="helpId" class="form-text text-muted">Help text</small>
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Numero de consultorio medico</label>
    <input type="number"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="" required>
    <small id="helpId" class="form-text text-muted">Help text</small>
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Nombre del Doctor </label>
    <input type="text"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="" required>
    <small id="helpId" class="form-text text-muted">Help text</small>
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Especialidad Doctor</label>
    <input type="text"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="" required>
    <small id="helpId" class="form-text text-muted">Help text</small>
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Modalidad</label>
    <input type="text"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="" required>
    <small id="helpId" class="form-text text-muted">Help text</small>
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Estado</label>
    <input type="text"
      class="form-control" name="" id="" aria-describedby="helpId" placeholder="" required>
    <small id="helpId" class="form-text text-muted">Help text</small>
  </div>
  <div class="mb-3">
   
    <input type="Submit"
      class="btn btn-success" name="" id="" aria-describedby="helpId" placeholder="" required>
  </div>    {% endcomment %}
</form>  