{% extends 'base.html' %}

{% block titulo %}Eps Rufus | About{% endblock titulo %}

{% block navHeader %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">EPS RUFUS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link " href="{% url 'readUsers' %}">Clientes
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'readDoctors' %}">Doctores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'readAppointment' %}">Citas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'about' %}">About</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </div>
</nav>
{% endblock navHeader %}

{% block contenido %}
    </br>
    </br>
    <h1 style="text-align: center;">About us</h1>
    </br>
    </br>
    <div class="container" style="text-align: center;font-family: Times New Roman;">
      <h2 >Desarrollador</h2>
      <p style="font-size:3em;">Juan Manuel Baracaldo Rojas</p>
      <h2 >Repositorio</h2>
      <a style="font-size:2em;"href='https://github.com/juan-Baracaldo-rojas' >https://github.com/juan-Baracaldo-rojas</a>
    </div>
    
{% endblock contenido %}